# PyLint configuration file for the project pymvpa.
#
# Agreed formatting (per yoh+michael voice dialog) is camel.
#
# This pylintrc file will use the default settings except for the
# naming conventions, which will allow for camel case naming as found
# in Java code or several libraries such as PyQt, etc.
#
# At some moment it was modified by yoh from the original one
# which can be found on debian systems at
# /usr/share/doc/pylint/examples/pylintrc_camelcase
#
# Just place it in ~/.pylintrc for user-wide installation or simply
# use within a call to pylint or export environment variable
# export PYLINTRC=$PWD/doc/misc/pylintrc


[BASIC]
# 正则表达式匹配正确的模块名称.
module-rgx=([a-z][a-z0-9_]*)$

# 正则表达式匹配正确的属性名称
attr-rgx=[a-z_][a-z0-9_]{,30}

# 正则表达式匹配正确的类名
class-rgx=[A-Z_]+[a-zA-Z0-9]+$

# 正则表达式匹配正确的函数名称.
function-rgx=[a-z_]+[a-z0-9_][a-z0-9]*$

# 正则表达式匹配正确的方法名称。
method-rgx=(([a-z_]|__)[a-z0-9_]*(__)?|test[a-zA-Z0-9_]*)$

# 正则表达式匹配正确的参数名称
argument-rgx=[a-z][a-z0-9]*_*[a-z0-9]*_*[a-z0-9]*_?$

# 正则表达式匹配正确的变量名.
variable-rgx=([a-z_]+[a-z0-9]*_*[a-z0-9]*_*[a-z0-9]*_?||(__[a-zA-Z0-9_]*__))$||[A-Z]+

# 正则表达式匹配正确的常量名称.
# Default: (([A-Z_][A-Z1-9_]*)|(__.*__))$
const-rgx=([a-z_]+[a-z0-9]*_*[a-z0-9]*_*[a-z0-9]*_?|__[a-zA-Z0-9_]*__)$||[A-Z]+

[FORMAT]
# 缩进
indent-string='    '

# 一行中的最大字符数.
max-line-length=100

# 模块中的最大行数.
max-module-lines=1000

[DESIGN]

# 最大分行
max-branchs = 20

# 函数方法最大参数量
max-args = 10

# 一个类最大属性数量 (see R0902)
max-attributes = 14

# some sci computation can't be handled efficiently without having
#lots of locals
max-locals = 35

[MESSAGES CONTROL]
# Disable the following PyLint messages:
# R0903 - Not enough public methods
# W0105 - String statement has no effect # often used for after-line doc
# W0142 - Used * or ** magic
# W0232 - Class has no __init__ method
# W0212 - Access to a protected member ... of a client class
# W0613 - Unused argument
# E1101 - Has no member (countless false-positives)
# R0904 - Too many public methods
disable=R0903,W0142,W0105,W0212,W0613,E1101,R0904,W0201,W0301,W0401,E0401,C0114,C0115

[REPORTS]

# 激活评估分数
score=yes

# Python表达式应返回小于或等于10的分数
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

# 格式化输出格式选择 text, parseable, colorized and html
output-format=parseable

# 输出携带id
include-ids=yes

# Tells wether to display a full report or only the messages
# reports=no

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
# FIXME -- something which needs fixing
# TODO  -- future plan
# XXX   -- some concern
# YYY   -- comment/answer to above mentioned concern
notes=FIXME,TODO,XXX,YYY

[MASTER]
# 忽略文件(夹)，逗号隔开
ignore=tests,migrations,settings,__pycache__

# 正则忽略文件或目录
#ignore-patterns=

# 关闭警告
disable-msg=R0904,R0903,E1101,R21

# 不应检查其成员属性的模块名称列表
ignored-modules=six.moves

# 多进程执行，0自动检测核心
jobs=0

# 最大嵌套条件数
limit-inference-results=100

# 指定程序错误退出之前要超过的得分阈值。
fail-under=8
